/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
// .slick-list {
// }
/* Лента слайдов */
.slick-track {
	display: flex;
}
/* Слайд */
.slick-slide {
	overflow: hidden;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

// Rонкретный слайдер
.slick-list {
	display: flex;
	overflow-x: hidden;   
}
.slick-dots {
	padding-top: 80px;
	display: flex;
	// display: none;
}
.slick-dots li {
	cursor: pointer;
	transition: all 0.2s linear;
	list-style: none;
	width: 15px;
	height: 15px;
	left: 270px;
	top: 4406.75px;
	background: #dde0e4;
	font-size: 0;
	border-radius: 50%;
	margin-right: 15px;
}
.slick-dots li.slick-active {
	width: 45px;
	height: 15px;
	background: #f53838;
	border-radius: 20px;
}
.slick-dots li button {
	font-size: 0;
}
/* Стрелка */
.slick-arrow {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: solid 2px #f53838;
	color: #f53838;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 20px;
	transition: all 0.2s linear;
	transform: translateY(calc(50% - 15px / 2));
	&:first-child {
		right: 85px;
		z-index: 1000;
	}
	&:hover {
		color: #fff;
		background-color: #f53838;
	}
}
/* Стрелка влево */
.slick-arrow.slick-prev {
	position: relative;
	left: 10px;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
	// margin-left: 20px;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
.slider__body {
	position: relative;
	margin-bottom: 75px;
}
@media (max-width: 640px) {
	.slider__item {
		margin: 0 !important;
	}
	.slick-dots {
		padding-top: 50px;
	}
	.slick-list {
		display: flex;
		overflow-x: hidden;
	}
}
